{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "semi": [2, "always"],
    "eqeqeq": ["error", "always"],
    "dot-location": ["error", "property"],
    "no-unexpected-multiline": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }],
    "eol-last": ["error", "always"]
  },
  "env": {
    "jest": true
  }
}